body {
  display: flex;
  font-family: Menlo, Monaco, monospace;
  font-size: 12px;
  margin: 0em;
  min-height: 100vh;
  white-space: pre-wrap;
}

main {
  color: #444444;
  display: grid;
  align-self: center;
  margin: 0 auto 10vh;
  text-align: center;
}

button {
  display: inline-block;
  position: relative;
  height: 40px;
  border: 0;
  padding: 0 .75rem;
  border-radius: 2px;
  font-size: 16px;
  font-family: inherit;
  color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: all 120ms;
  background: #0023FF;
  outline: none;
}

button:hover {
  background: #0023C4;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.65);
}

button:focus {
  background: #0023C4;
  box-shadow: 0 0 0 2px #F2F2F2, 0 0 0 4px #0023FF, 0 3px 10px rgba(0, 0, 0, 0.65);
}

button:active {
  background: #0023C4;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.65);
}

a {
  margin-top: 1rem;
}
